@mixin center-fex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin row-flew {
    display: flex;
    flex-direction: row;
}

@mixin margin-center($important: false, $top:0, $bot:0) {
    margin-left: auto#{if($important, '!important', '')};
    margin-right: auto#{if($important, '!important', '')};
    margin-top: $top;
    margin-bottom: $bot;
}

$breakpoints: (
    // Medium devices (tablets)
    "sm": 576px,

    // Large devices (desktops)
    "md": 768px,

    // Extra large devices (large desktops)
    "lg": 992px,

    // Extra extra large devices (larger desktops)
    "xl": 1200px,
);


@mixin mq($key, $mediaType: "only screen") {
    @media #{$mediaType} and (min-width: map-get($breakpoints, $key)) {
        @content;
    }
}