// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure, 
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }
// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }


/**
 * Apply box-sizing so that padding and border are included in element's total width and height.
 * This avoids calculation errors that can cause unexpected layouts.
 */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/**
   * Remove margin and padding from all elements to ensure consistent spacing.
   */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

/**
   * Ensure that lists are rendered in a consistent manner.
   */
ol,
ul {
	list-style: none;
}

/**
   * Remove the default styles for anchor elements.
   */
a {
	text-decoration: none;
	color: inherit;
}

/**
   * Remove the default border on images that are wrapped in an anchor element.
   */
img {
	border-style: none;
	vertical-align: middle;
}

/**
   * Remove any extra whitespace between the top of the content area and the top of the viewport.
   */
html {
	scroll-padding-top: env(safe-area-inset-top);
}

body {
	margin-top: env(safe-area-inset-top);
}