// Fonts
* {
  font-family: 'Roboto', sans-serif;
}

// Headings
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

// Paragraphs
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

// Links
a {
  color: blue;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}